 .login-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
  text-align: center;
  flex-direction: row;
}

.login-card{
  width:25rem;
  height:20.5rem;
  border: 1px solid #ccc;
  padding: 1rem;
  margin-top: 1rem;
  
}



.insta-mob-bg{
  background-image: url('../../assets/insta-bg0.png');
  width:454px;
  height: 600px;
  /* position: relative; */
 
}
.carosel{
  height: auto;
  position: absolute;
  top: 50px;
  left: 22px;
}


